*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
 body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-right: 50px;
    margin-top: 50px;
    text-align: center; 
       background: url(download\ \(1\).jpeg) no-repeat center center/cover;
}
 .container
{
     width:680px;
   height: 520px;
   
}

.header{
    font-size: 1.2rem;
    border: 2px solid yellow;
    color: lightcyan;
    background-color: black;
    width:98%;
    margin: 8px;
    border-radius: 5px;
}
.main-content{
    inline-size: 100%;
    block-size: 300px;
    background-color: white;
    border-radius: 15px;
    padding: 50px 49px;
    box-shadow: 0 0 10px;
}
.main-content .text-area{
    font-size: 1.5rem;
    line-height: 1.5;
}
.main-content .person{
    font-size: 1.6rem;
    color: red;
    text-transform: uppercase;
    margin-top: 23px;
}
.button-area button{
    background-color: rgb(10, 4, 2);
    color: #fff;
    font-size:14px;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button-area button:active{
    background-color: orangered
}  
